.login-wrapper{
    width:100vw;
    position:relative;
}
.login{
    top: 30vh;
    width: 40%;
    margin: auto;
    position: relative;
}
.main-application{
    margin: auto;
    width: 90%;
}
.login-text{
    font-size: 1.2rem;
    font-family: Segoe-UI;
}
.centered{
    margin: auto !important;
    width: 90% !important;
    text-align: center;
}

:host /deep/ .abcRioButton{
    width: 5rem;
    margin: 0 auto;
}
