<div class="login-wrapper">
    <div class="login">
        <div class="centered login-text" *ngIf="!cookieService.get('loggedInUser')">
            <p>Please log in to you SCU email below</p>
        </div>
        <div class="g-signin2" id="{{googleLoginButtonId}}"></div>
        <div class="centered login-text" *ngIf="cookieService.get('loggedInUser')">
            <ng-container *ngIf="validLogin">
                <p>Logged in with {{cookieService.get('userEmail')}}!</p>
                <p>Redirecting shortly...</p>
            </ng-container>
            <ng-container *ngIf="!validLogin">
                <p>Invalid login, try logging out and making sure you are logged in with your SCU account.</p>
            </ng-container>
            <ng-container *ngIf="!noServerError">
                <p>Connection to server failed.</p>
            </ng-container>
            <button mat-flat-button (click)="signOut()">Sign out</button>
        </div>
    </div>
</div>