.mediaViewInfo {
    --web-view-name: Survey Page;
    --web-view-id: Survey_Page;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Survey_Page;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.Survey_Page_Class {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Survey Page;
    --web-view-id: Survey_Page;
    --web-enable-deep-linking: true;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 1080px;
    left: 599.5px;
    top: 0.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Survey_for_COEN_174__57975___Class {
    position: absolute;
    left: 53px;
    top: 120px;
    overflow: hidden;
    width: 458px;
    height: 623px;
    text-align: left;
    font-family: Segoe-UI;
    font-style: normal;
    font-weight: normal;
    font-size: 84px;
    color: rgba(112,112,112,1);
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 1165px;
    height: 3px;
    left: 689.5px;
    top: 121.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_21_Class {
    position: absolute;
    width: 202px;
    height: 52px;
    left: 1408px;
    top: 1016px;
    overflow: visible;
}
.Previous_Class {
    position: absolute;
    left: 50px;
    top: 10px;
    overflow: visible;
    width: 141px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe-UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
.Icon_ionic_ios_arrow_back {
    overflow: visible;
    position: absolute;
    width: 15.78px;
    height: 27.603px;
    left: 15px;
    top: 12px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_22_Class {
    position: absolute;
    width: 202px;
    height: 52px;
    left: 1630px;
    top: 1015px;
    overflow: visible;
}
.Rectangle_5_A3_Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 202px;
    height: 52px;
    left: 0px;
    top: 0px;
}
.Continue_Class {
    position: absolute;
    left: 12px;
    top: 11px;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe-UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
.Icon_ionic_ios_arrow_back_A3_Path_2 {
    overflow: visible;
    position: absolute;
    width: 15.78px;
    height: 27.602px;
    transform: translate(-34px, -28px) matrix(1,0,0,1,205,40) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.Repeat_Grid_9_Class {
    position: absolute;
    width: 1166px;
    height: 852px;
    left: 689px;
    top: 145px;
    overflow: scroll;
}

.Survey-Question {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(112,112,112,1);
}

.Question-Title {
    font-size: 2rem;
    font-family: Segoe-UI;
    color: rgba(112,112,112,1);
}

.Multiple-Choices{
    margin-left: 3rem;
}
.Multiple-Choice{
    font-size: 1.8rem;
    font-family: Segoe-UI;
    color: rgba(112,112,112,1);
    margin-right: 8rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    flex-direction: column;
}

:host /deep/ .mat-radio-label {
    flex-direction: column;
}

:host /deep/ .mat-radio-label-content {
      padding-left: 0px;
      padding-top: 1rem;
}

.Free-Response {
    margin-top: .6rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 40rem;
    font-family: Segoe-UI;
    font-size: 1.2rem;
    color: rgba(112,112,112,1);
}

/* :host /deep/ .mat-radio-outer-circle {
    height: 2rem;
    width: 2rem;
}

:host /deep/ .mat-radio-inner-circle  {
    height: 1.8rem;
    width: 1.8rem;
} */