<div id="Survey_Page" class="Survey_Page_Class ">
	<svg class="Line_1" viewBox="0 0 5 1080">
		<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_1_Class" d="M 0 0 L 0 1080">
		</path>
	</svg>
	<div class="Survey_for_COEN_174__57975___Class">
		<span>Survey for COEN 174:<br/>57975<br/></span><br>
	</div>
	<svg class="Line_2" viewBox="0 0 1165 3">
		<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_2_Class" d="M 0 0 L 1165 0">
		</path>
    </svg>
    <ng-container>
        <div class="Survey-Page-Title">
            <span>{{currentPageIndex+1}}. {{questionPages[currentPageIndex].title}}</span>
        </div>
        <div class="Repeat_Grid_9_Class">
            <div class="Survey_Question" *ngFor="let question of questionPages[currentPageIndex].questions;">
                <label class="Question-Title">{{question.text}}</label>
                <div class = "Scale-Question" *ngIf="question.type == qstTypeScale">
                    <mat-radio-group class="Multiple-Choices" [(ngModel)]="question.answer" (change)="changeChoice(question.answer)">
                        <mat-radio-button class="Multiple-Choice" *ngFor="let scaleOption of scaleOptions" [value]="scaleOption">
                            {{scaleOption}}
                        </mat-radio-button>   
                    </mat-radio-group>
                </div>
                <div class = "Response_Question" *ngIf="question.type == qstTypeResponse">
                    <mat-form-field class="Free-Response">
                        <mat-label>Please enter your response</mat-label>
                        <textarea matInput
                                    [(ngModel)]="question.answer"
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="12"></textarea>
                    </mat-form-field>
                </div>
                <div class = "Hours_Question" *ngIf="question.type == qstTypeHours">
                    <mat-radio-group class="Multiple-Choices" [(ngModel)]="question.answer" (change)="changeChoice(question.answer)">
                        <mat-radio-button class="Multiple-Choice" *ngFor="let hoursOption of hoursOptions" [value]="hoursOption">
                            {{hoursOption}}
                        </mat-radio-button>   
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="Group_21_Class">
        <button mat-flat-button *ngIf="currentPageIndex > 0" (click)="changePage(-1)">
            <i class="material-icons">keyboard_arrow_left</i>
            Previous
        </button>
    </div>
    <div class="Group_22_Class">
        <button mat-flat-button *ngIf="currentPageIndex < questionPages.length-1" (click)="changePage(1)">
            Next
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <button mat-flat-button *ngIf="currentPageIndex >= questionPages.length-1" (click)="clickSubmit()">
            Submit
            <i class="material-icons">done</i>
        </button>
    </div>
</div>