.mediaViewInfo {
    --web-view-name: Results Page;
    --web-view-id: Results_Page;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Results_Page;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.Results_Page_Class {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Results Page;
    --web-view-id: Results_Page;
    --web-enable-deep-linking: true;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 1080px;
    left: 599.5px;
    top: 0.5px;
    transform: matrix(1,0,0,1,0,0);
}
.COEN_174__57975__Survey_Result_Class {
    position: absolute;
    left: 53px;
    top: 120px;
    overflow: hidden;
    width: 458px;
    height: 623px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 84px;
    color: rgba(112,112,112,1);
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 1165px;
    height: 3px;
    left: 689.5px;
    top: 121.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_5 {
    overflow: visible;
    position: absolute;
    width: 1165px;
    height: 3px;
    left: 690.5px;
    top: 679.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_17_Class {
    position: absolute;
    width: 138px;
    height: 52px;
    left: 39px;
    top: 33px;
    overflow: visible;
}
.Group_16_Class {
    position: absolute;
    width: 138px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 138px;
    height: 52px;
    left: 0px;
    top: 0px;
}
.Back_Class {
    position: absolute;
    left: 42px;
    top: 10px;
    overflow: visible;
    width: 81px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
.Icon_ionic_ios_arrow_back {
    overflow: visible;
    position: absolute;
    width: 15.781px;
    height: 27.602px;
    left: 15px;
    top: 12px;
    transform: matrix(1,0,0,1,0,0);
}
.ID1__Learning_from_Labs_Class {
    position: absolute;
    left: 689px;
    top: 65px;
    overflow: visible;
    width: 351px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
.ID2__Lab_Instructor___Alex_Jam_Class {
    position: absolute;
    left: 690px;
    top: 623px;
    overflow: visible;
    width: 477px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
.Repeat_Grid_6_Class {
    position: absolute;
    width: 1166px;
    height: 418.5px;
    left: 689px;
    top: 145px;
    overflow: hidden;
}
.Group_20_Class {
    position: absolute;
    width: 1166px;
    height: 87.5px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Repeat_Grid_9_Class {
    position: absolute;
    width: 1166px;
    height: 852px;
    left: 689px;
    top: 145px;
    overflow: scroll;
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 85px;
    left: 0px;
    top: 0px;
}
.The_Lab_helped_me_to_understan_Class {
    position: absolute;
    left: 27px;
    top: 32px;
    overflow: visible;
    width: 715px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Line_4 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 84px;
    left: 869.5px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_19_Class {
    position: absolute;
    width: 229px;
    height: 48px;
    left: 895px;
    top: 26px;
    overflow: visible;
}
.Average_Class {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.ID3_7_5_Class {
    position: absolute;
    left: 122px;
    top: 0px;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(112,112,112,1);
}
.Group_20_A2_Group_5_Class {
    position: absolute;
    width: 1166px;
    height: 87.5px;
    left: 0px;
    top: 108px;
    overflow: visible;
}
.Rectangle_8_A2_Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 85px;
    left: 0px;
    top: 0px;
}
.The_Lab_helped_me_to_understan_A2_Text_8_Class {
    position: absolute;
    left: 27px;
    top: 32px;
    overflow: visible;
    width: 715px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Line_4_A2_Line_5 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 84px;
    left: 869.5px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_19_A2_Group_6_Class {
    position: absolute;
    width: 229px;
    height: 48px;
    left: 895px;
    top: 26px;
    overflow: visible;
}
.Average_A2_Text_9_Class {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.ID3_7_5_A2_Text_10_Class {
    position: absolute;
    left: 122px;
    top: 0px;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(112,112,112,1);
}
.Group_20_A2_Group_7_Class {
    position: absolute;
    width: 1166px;
    height: 87.5px;
    left: 0px;
    top: 216px;
    overflow: visible;
}
.Rectangle_8_A2_Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 85px;
    left: 0px;
    top: 0px;
}
.The_Lab_helped_me_to_understan_A2_Text_11_Class {
    position: absolute;
    left: 27px;
    top: 32px;
    overflow: visible;
    width: 715px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Line_4_A2_Line_6 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 84px;
    left: 869.5px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_19_A2_Group_8_Class {
    position: absolute;
    width: 229px;
    height: 48px;
    left: 895px;
    top: 26px;
    overflow: visible;
}
.Average_A2_Text_12_Class {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.ID3_7_5_A2_Text_13_Class {
    position: absolute;
    left: 122px;
    top: 0px;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(112,112,112,1);
}
.Group_20_A2_Group_9_Class {
    position: absolute;
    width: 1166px;
    height: 87.5px;
    left: 0px;
    top: 324px;
    overflow: visible;
}
.Rectangle_8_A2_Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 85px;
    left: 0px;
    top: 0px;
}
.The_Lab_helped_me_to_understan_A2_Text_14_Class {
    position: absolute;
    left: 27px;
    top: 32px;
    overflow: visible;
    width: 715px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Line_4_A2_Line_7 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 84px;
    left: 869.5px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_19_A2_Group_10_Class {
    position: absolute;
    width: 229px;
    height: 48px;
    left: 895px;
    top: 26px;
    overflow: visible;
}
.Average_A2_Text_15_Class {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.ID3_7_5_A2_Text_16_Class {
    position: absolute;
    left: 122px;
    top: 0px;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(112,112,112,1);
}
.Repeat_Grid_7_Class {
    position: absolute;
    width: 1166px;
    height: 319.5px;
    left: 690px;
    top: 703px;
    overflow: hidden;
}
.Group_20_A2_Group_11_Class {
    position: absolute;
    width: 1166px;
    height: 87.5px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8_A2_Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 85px;
    left: 0px;
    top: 0px;
}
.The_lab_instructor_was_support_Class {
    position: absolute;
    left: 27px;
    top: 32px;
    overflow: visible;
    width: 441px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Line_4_A2_Line_8 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 84px;
    left: 869.5px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_19_A2_Group_12_Class {
    position: absolute;
    width: 229px;
    height: 48px;
    left: 895px;
    top: 26px;
    overflow: visible;
}
.Average_A2_Text_18_Class {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.ID4_2_5_Class {
    position: absolute;
    left: 122px;
    top: 0px;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(112,112,112,1);
}
.Group_20_A2_Group_13_Class {
    position: absolute;
    width: 1166px;
    height: 87.5px;
    left: 0px;
    top: 108px;
    overflow: visible;
}
.Rectangle_8_A2_Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 85px;
    left: 0px;
    top: 0px;
}
.The_lab_instructor_was_support_A2_Text_20_Class {
    position: absolute;
    left: 27px;
    top: 32px;
    overflow: visible;
    width: 441px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Line_4_A2_Line_9 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 84px;
    left: 869.5px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_19_A2_Group_14_Class {
    position: absolute;
    width: 229px;
    height: 48px;
    left: 895px;
    top: 26px;
    overflow: visible;
}
.Average_A2_Text_21_Class {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.ID4_2_5_A2_Text_22_Class {
    position: absolute;
    left: 122px;
    top: 0px;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(112,112,112,1);
}
.Group_20_A2_Group_15_Class {
    position: absolute;
    width: 1166px;
    height: 87.5px;
    left: 0px;
    top: 216px;
    overflow: visible;
}
.Rectangle_8_A2_Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 85px;
    left: 0px;
    top: 0px;
}
.The_lab_instructor_was_support_A2_Text_23_Class {
    position: absolute;
    left: 27px;
    top: 32px;
    overflow: visible;
    width: 441px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Line_4_A2_Line_10 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 84px;
    left: 869.5px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Group_19_A2_Group_16_Class {
    position: absolute;
    width: 229px;
    height: 48px;
    left: 895px;
    top: 26px;
    overflow: visible;
}
.Average_A2_Text_24_Class {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.ID4_2_5_A2_Text_25_Class {
    position: absolute;
    left: 122px;
    top: 0px;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(112,112,112,1);
}