<div id="Upload_Page" class="Upload_Page_Class ">
    <div class="left-column">
        <svg class="Line_1">
            <path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_1_Class" d="M 0 0 L 0 4000">
            </path>
        </svg>
        <div class="Welcome_Admin__Class">
            <span>Welcome {{cookieService.get('userDisplayName')}}!</span>
        </div>
        <div class="logout-button">
            <button mat-flat-button (click)="clickLogout()">
                    Logout
            </button>
        </div>
    </div>
    <div class="right-column">
        <div class="admin-title">
            <span>Lab Sections</span>
        </div>
        <svg class="Line_2">
            <path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width=".5rem" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" d="M 0 0 L 4000 0">
            </path>
        </svg>
        <ng-container *ngIf="sectionsArray">
            <div class="admin-box-border" *ngFor="let section of sectionsArray; let i = index" (click)="clickSection(i)">
                <div class="section-box-text">
                    <span>{{section.section_id}}: {{section.course_subject}} {{section.catalog_num}} - {{section.course_title}}</span>
                </div> 
            </div>
        </ng-container>
    </div>
</div>