.Upload_Page_Class {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,1);
    --web-view-name: Upload Page;
    --web-view-id: Upload_Page;
    --web-enable-deep-linking: true;
}
.admin-icon {
    overflow: visible;
    width: 15%;
    left: 42.5%; /*32.5 - half width of icon*/
    transform: matrix(1,0,0,1,0,0);
    margin: auto;
}
.cal-icon {
    overflow: visible;
    width: 20%;
    left: 40%; /*50% - half width of icon*/
    transform: matrix(1,0,0,1,0,0);
    margin: auto;
}

.admin-box-text {
    position: relative;
    width: 90%;
    text-align: center;
    font-family: Segoe-UI;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    margin: auto;
    padding-top:1rem;
    color: rgba(112,112,112,1);
}

.right-align {
    float: right;
}

.date-hidden {
    visibility: hidden !important;
    margin-left: calc(50% - 148px);
    height: 0px !important;
}